// Buttons
// ----------
//
// ==========

button {

  background-color: #F7F7F7;
  border: 1px solid #A9A9A9;
  padding: 1em;
  transition: all 200ms;

  &.category {
    font-size: 0.75em;
    white-space: nowrap;

    &.active {
      color: #FFF;
      background-color: $success-color;
      border-color: darken($success-color, 10%);
    }

  }

}
