// Buttons
// ----------
//
// ==========

button {

  background-color: #F7F7F7;
  border: 2px solid #A9A9A9;
  border-radius: 10px;
  padding: 1em 1.5em;
  transition: all 200ms;

  &.category {
    font-size: 0.75em;
    margin: 0 .5em .5em;

    &.active {
      color: #FFF;
      background-color: #FF3333;
      border-color: #CC0000;
    }

  }

}
