// Buttons
// ----------
//
// ==========

button {

  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 1em;
  transition: all 200ms;

  &:hover {
    box-shadow: inset 0 0 0 4px $highlight-color;
  }

  &.category {
    font-size: 0.75em;
    white-space: nowrap;

    &:hover {
      box-shadow: inset 0 0 0 2px #DDD;
    }

    &.active {
      color: #FFF;
      background-color: $success-color;
      border-color: darken($success-color, 10%);

      &:hover {
        box-shadow: inset 0 0 0 2px darken($success-color, 10%);;
      }

    }

  }

}
