// Base
// ----------
// default / boilerplate styles
// ==========

html {
  font-size: 62.5%; // for proper use of px to rem mixin
}

body {
  font-size: 16px;
  font-family: $body-font;
  background-color: #EEE;
  // use below syntax for svg
  // background-image: svg("svg-name", "[fill]: #cccccc");
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}

h1 {
  font-size: 7em;
  margin: 0 0 0.4em 0;
  color: #FFF;
}

h2 {
  font-size: 2em;
  color: #DDD;
  margin: 0 0 1em 0;
}
