/// Footer
/// ----------
///
/// ==========

footer {
  width: $site-width;
  max-width: $site-width;
  text-align: center;
  background: #FFF;
  position: absolute;
  z-index: -9999;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  p {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
