.question-container {

  @extend %clearfix;
  padding: 3em;
  max-width: $site-width * 0.75;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 1.75em;
    min-height: 3.214285714em;
    line-height: 1.2;

    &#answer {
      opacity: 0;
      color: $success-color;

      &::first-line {
        line-height: 3.214285714em;
      }
    }

  }

}

.question-info {

  @extend %clearfix;
  width: 60%;
  float: left;

  dt, dd {
    font-size: 1.4em;
  }

  dt {
    width: 30%;
    float: left;
    margin-bottom: 1em;
    text-align: right;
    padding-right: 0.75em;
  }

  dd {
    width: 70%;
    float: left;
    min-height: 3.321428571em;
    text-align: left;
    padding-left: 5px;
  }

  #question-hint {
    opacity: 0;
  }

}

.question-controllers {
  width: 40%;
  float: right;

  & button {
    background: lighten($highlight-color, 10%);
    border-color: $highlight-color;
    color: #FFF;
    width: 200px;
    display: block;
    margin: 0 auto 1em auto;
  }
}



@include breakpoint(small) {
  .question-container {
    #answer {
      margin-bottom: 2em;
    }
  }
}

@include breakpoint(tiny) {
  .question-container {
    padding: 1.2em;

    & p {
      font-size: 1.2em;
    }
  }

  .question-info {
    width: 100%;
    font-size: 0.8em;
  }

  .question-controllers {
    width: 100%;
    margin: 2em 0;
  }
}
