.question-container {
  padding: 3em;
  max-width: $site-width;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 1.75em;
    margin-bottom: 1em;

    &#answer {
      opacity: 0;
      color: $success-color;
    }

  }

  #question-hint {
    opacity: 0;
  }

}
